lib/
bin/
out/
.idea/
*.iml
.classpath
.settings/

# Logs
/alternative_clients/react-client/logs
/alternative_clients/react-client/*.log
/alternative_clients/react-client/npm-debug.log*
/alternative_clients/react-client/yarn-debug.log*
/alternative_clients/react-client/yarn-error.log*
/alternative_clients/react-client/pnpm-debug.log*
/alternative_clients/react-client/lerna-debug.log*

/alternative_clients/react-client/node_modules
/alternative_clients/react-client/dist
/alternative_clients/react-client/dist-ssr
/alternative_clients/react-client/*.local

# Editor directories and files
/alternative_clients/react-client/.vscode/*
/alternative_clients/react-client/!.vscode/extensions.json
/alternative_clients/react-client/.idea
/alternative_clients/react-client/.DS_Store
/alternative_clients/react-client/*.suo
/alternative_clients/react-client/*.ntvs*
/alternative_clients/react-client/*.njsproj
/alternative_clients/react-client/*.sln
/alternative_clients/react-client/*.sw?
